.container {
  width: 70%;
  height: 700px;
  border: 1px solid grey;
  margin: 10px auto;
  position: relative;
}
.game-box {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  position: relative;
}
.paddles {
  height: 100px;
  width: 100px;
  top: 150px;
  position: absolute;
  /*box-sizing: content-box;*/
}
#paddle1 {
  border: 2px dotted green;
  left: 10px;
}
#paddle2 {
  border: 2px dotted blue;
  right: 10px;
}
@keyframes leftright {
0%,100% {transform: translate3d(-510px,0,0)}
50% {transform: translate3d(500px, 0, 0)}
}
@keyframes updown {
 0%,50%,100% {transform: translate3d(0,0,0)}
 25% {transform: translate3d(0,250px,0)}
 75% {transform: translate3d(0, -250px,0)} }
 .horizontal {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 45%;
  /*background-color: cornflowerblue;*/
  animation: updown 2.3s infinite linear;
 }
#ball {
/*  box-sizing: content-box;*/
  position: absolute;
  height: 25px;
  width: 25px;
  left: 500px;
  border-radius: 15px;
  background-color: grey;
 }
 .ball-active {
   animation: leftright 3.9s infinite linear;
 }
 button {
  width: 100px;
  height: 50px;
 }
