/*Custom Tron Font Downloaded From
http://www.1001fonts.com/tr2n-font.html#styles*/
@font-face {
    font-family: TronFont;
    src: url(../fonts/Tr2n.ttf);
}

.landing-jumbotron {
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #18cae6;
  justify-content: center;
  background: rgba(15,15,35, 0.7);
  border-radius: 25px;
}
.landing-jumbotron h1 {
  padding-top: 25px;
  font-family: TronFont;
  font-size: 196px;
  align-self: center;
}
.landing-container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #18cae6;
/*  display: flex;*/
  background: url("../images/trnBackground.jpg");
  background-size: cover;
}
form {
  /*border: 1px solid white;*/
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
input[type=text] {
  outline: none;
  width: 40%;
  font-family: TronFont;
  text-align: center;
  font-size: 48px;
  color: #18cae6;
  background-color: rgba(15,15,35, 0.1);
  border: none;
  border-bottom: 2px solid #18cae6;
}
select {
  outline: none;
  width: 40%;
  font-family: TronFont;
  text-align: center;
  font-size: 48px;
  color: #18cae6;
  background-color: rgba(15,15,35, 0.1);
  border: none;
  border-bottom: 2px solid #18cae6;
  text-align-last: center;
}
option {
  text-indent: 55px;
  text-align-last: center;
}
#landing-start-button {
    width: 100%;
    background-color: rgba(15,15,35, 0.1);
    font-size: 56px;
    font-family: TronFont;
    border: none;
    color: #18cae6;
    padding: 16px 32px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}
#landing-start-button:hover {
  text-shadow:5px 5px 10px blue;
}
/*LANDING PAGE COLOR  color: #18cae6 aka Tron Blue*/

/*======================PHASE 2 CSS==================================*/
.container {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  position: relative;
  display: none;
  background: url("../images/trnBackground.jpg");
  background-size: cover;
}
.game-box {
  margin: 10px auto;
  width: 70%;
  height: 500px;
  position: relative;
  background-color: rgba(15,15,35, 0.7);
  border-radius: 25px;
  box-shadow: 5px 5px 30px 10px #18cae6;
}
.paddles {
  height: 100px;
  width: 100px;
  top: 150px;
  position: absolute;
  background: url("../images/paddle1.jpg");
  background-size:contain;
}
#paddle1 {
  border: 2px dotted green;
  left: 10px;
  background: url("../images/paddle1.jpg");
  background-size: cover;

}
#paddle2 {
  border: 2px dotted blue;
  right: 10px;
}
@keyframes leftright {
0%,100% {transform: translate3d(-510px,0,0)}
50% {transform: translate3d(380px, 0, 0)}
}
@keyframes updown {
 0%,50%,100% {transform: translate3d(0,0,0)}
 25% {transform: translate3d(0,250px,0)}
 75% {transform: translate3d(0, -250px,0)} }
 .horizontal {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 45%;
  animation: updown 2.3s infinite linear;
 }
#ball {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 500px;
  border-radius: 15px;
  background-color: #18cae6;
}
 .ball-active {
   animation: leftright 3.9s infinite linear;
 }
 button {
  width: 100px;
  height: 50px;
 }
.game-info {
  display: flex;
  flex: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 50px;
}
.game-controls {
  display: flex;
  flex: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}
#start-button, #stop-button {
  background-color: rgba(15,15,35, 0.7);
  font-family: TronFont;
  color: #18cae6;
  font-size: 48px;
  width:40%;
  border: none;
  border-radius: 15px;
  outline: none;
}
#start-button:hover, #stop-button:hover {
  text-shadow:5px 5px 10px #18cae6;
}
#countdownTimer {
  font-family: TronFont;
  color: #18cae6;
  padding: 5px;
  box-shadow: 5px 5px 30px 10px #18cae6;
  border-radius: 5px;
  font-size: 72px;
}
#playerScore {
  font-family: TronFont;
  color: #18cae6;
  font-size: 48px;
}

/*==============================PHASE 3 CSS===========================*/
.ending-jumbotron {
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #18cae6;
  justify-content: center;
  background: rgba(15,15,35, 0.7);
  border-radius: 25px;
}
.ending-jumbotron h1 {
  padding-top: 25px;
  font-family: TronFont;
  font-size: 96px;
  align-self: center;
}
.ending-container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #18cae6;
/*  display: flex;*/
  background: url("../images/trnBackground.jpg");
  background-size: cover;
}
#win-message {
  text-align: center;
  padding-top: 25px;
  font-family: TronFont;
  font-size: 48px;
  align-self: center;
}
#new-game-button {
  background-color: rgba(15,15,35, 0.7);
  font-family: TronFont;
  color: #18cae6;
  font-size: 48px;
  width:100%;
  border: none;
  border-radius: 15px;
  outline: none;
}
#new-game-button:hover {
  text-shadow:5px 5px 10px #18cae6;
}
